h2{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

p{
    margin-top: 50px;
    margin-bottom: 150px;
    text-align: center;
}

hr{
    margin-top: 50px;
}

.button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    background-color: #b9e769;
    -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
    -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
    box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
}

.centerBtn{
    text-align: center;
    margin-top: 10% !important;
}

canvas{
    margin-left: 27%;
    display: block;
}